<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title><?php echo $input_file;?></title>
	<link rel="stylesheet" type="text/css" href="application/public/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="application/public/css/styles.css" />
	<?php echo '<script type="text/javascript" src="/'.BASE_DIR.'/application/public/js/jquery-1.7.2.min.js"></script>'?>
	<?php echo '<script type="txt/javascript" src="/'.BASE_DIR.'/application/public/js/modernizr.js"></script>';?>
	
</head>
<body>
	<header>
		<div id="header-content">
			<div id="logo">
				<h1></h1>
				<h2 class="tag-line"></h2>
			</div>
			<div id="user-nav">
				<ul>
					<li><?php echo $html->link('Admin panel','/admin/index','Admin Panel');?></li>
				</ul>
			</div>
		</div>
	</header>
	<nav>
		<ul id ="header-nav">
		</ul>
	</nav>
	<div id="container">
	</div>
		
		<div id="content-wrapper">
			<div id="content">
				<section class="post clearfix">
					<?php echo $this->getContent($input_file); ?>
				</section>
			</div>
		</div>
		
		<div id="footer-wrapper">
			<footer>
					<ul>
						<li></li>
						<li></li>
					</ul>
			</footer>
		</div>
	</div>
</body>
</html>