<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title><?php echo $input_file;?></title>
	<link rel="stylesheet" type="text/css" href="application/public/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="application/public/css/styles.css" />
</head>
<header>
	<div id="logo">
		<h1></h1>
		<h2 class="tag-line"></h2>
	</div>
</header>
<body>
	<div id="container">
	</div>
		
		<div id="content-wrapper">
			<div id="content">
				<?php echo $this->getContent($input_file); ?>
			</div>
		</div>
		
		<div id="footer">
		</div>
	</div>
</body>
</html>