header {
	height: 60px;
	color: white;
	background-color:black;
}

#header-content {
	width:980px;
	margin: 0 auto;
}

#logo {
	float: left;
	padding-top:15px;
}

#logo a {
	font-size: 16px;
	color: white;
	text-decoration:none;
}

#admin-nav {
	padding-top:15px;
}

#admin-nav ul {
	display:block;
	float:left;
}

#admin-nav ul li {
	margin: 0px 10px 8px 15px;
	padding: 5px 0px 5px 0px;
	float: left;
	font-size: 13px;
	background-color:grey;
}

#admin-nav ul li a {
	padding: 20px;
	color: white;
	float:none;
	text-decoration: none;
}

#content-wrapper {
	width: 980px;
	margin: 0 auto;
}

.page-title { height: 30px; position:fixed; text-align: center; padding-top:15px;}
.page-title h2 { font-size: 28px; }

h1.admin-login
{
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font: normal 26px/1 Verdana, Helvetica;
    position: relative;
}

h1.admin-login:after, h1.admin-login:before
{
    background-color: #777;
    content: "";
    height: 1px;
    position: absolute;
    top: 15px;
    width: 120px;   
}

h1.admin-login:after
{ 
    background-image: -webkit-gradient(linear, left top, right top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(left, #777, #fff);
    background-image: -moz-linear-gradient(left, #777, #fff);
    background-image: -ms-linear-gradient(left, #777, #fff);
    background-image: -o-linear-gradient(left, #777, #fff);
    background-image: linear-gradient(left, #777, #fff);      
    right: 0;
}

h1.admin-login:before
{
    background-image: -webkit-gradient(linear, right top, left top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(right, #777, #fff);
    background-image: -moz-linear-gradient(right, #777, #fff);
    background-image: -ms-linear-gradient(right, #777, #fff);
    background-image: -o-linear-gradient(right, #777, #fff);
    background-image: linear-gradient(right, #777, #fff);
    left: 0;
}

#admin-login {
	min-height: 500px;
	background-color: black;
}

#login{    
	margin: 0 auto;
	width: 400px;
}
