h2 {
	font-size: 24px;
}

header {
	background: #232323;
	height:138px;
}

#header-content {
	width:980px;
	margin: 0 auto;
	height:138px;
}

header #user-nav {
	font-size: 11px;
	margin: 45px 0 0 0;
	float: right;
}

nav ul#header-nav {
	height:35px;
	padding: 14px 0 2px 0;
	margin: 0 auto;
}

#content-wrapper {
	background-color:#6D7B8D;
	min-height: 500px;
	margin: 0 auto;
	width: 980px;
}

#content {
	min-height: 500px;
	padding: 15px 0 150px 0;
}

section.post {
	padding: 20px;
	font-size: 14px;
	text-shadow: 1px 1px white;
}