<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title><?php echo $input_file;?></title>
	<?php echo '<link rel="stylesheet" type="text/css" href="/'.BASE_DIR.'/application/public/css/reset.css"/>';?>
	<?php echo '<link rel="stylesheet" type="text/css" href="/'.BASE_DIR.'/application/public/css/admin.css"/>';?>
	<?php echo '<script type="text/javascript" src="/'.BASE_DIR.'/application/public/js/jquery-1.7.2.min.js"></script>'?>
	<?php echo '<script type="text/javascript" src="/'.BASE_DIR.'/application/public/js/admin-nav.js"></script>';?>
</head>
<body>
	<header>
		<div id="header-content">
			<div id="logo">
				<?php echo $html->link('AdminHome', '/admin/', 'Un-named Website');?>
				<h2 class="tag-line"></h2>
			</div>
			<div id="admin-nav">
				<ul id="nav-list">
					<li class="first-level-nav">
						<span>Content</span>
						<ul style="display:none;">
							<li><?php echo $html->link('Blog', '/admin/blog', 'Blog');?></li>
							<li><?php echo $html->link('Pages', '/admin/pages', 'Pages');?></li>
							<li><?php echo $html->link('Galleries', '/admin/galleries', 'Galleries');?></li>
						</ul>
					</li>
					<li class="first-level-nav">
						<span>Design</span>
						<ul style="display:none;">
							<li><?php echo $html->link('Themes', '', 'Themes');?></li>
						</ul>
					</li>
					<li class="first-level-nav">
						<span>Users</span>
						<ul style="display:none;">
							<li><?php echo $html->link('Manage Users', '/admin/users', 'Manage Users');?></li>
						</ul>
					</li>
					<li class="first-level-nav">
						<span>Profile</span>
						<ul style="display:none;">
							<li><?php echo $html->link('LogOut','/users/logout','LogOut');?></li>
						</ul>
					</li>
				</ul>
			</div>
			<div style="clear:both;"></div>
		</div>
	</header>
		
		<div id="content-wrapper">
			<div id="content">
				<section class="post clearfix">
					<?php echo $this->getContent($input_file); ?>
				</section>
			</div>
		</div>
		
		<div id="footer-wrapper">
			<footer>
			</footer>
		</div>
	</div>
</body>
</html>