<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title><?php echo $input_file;?></title>
	<?php echo '<link rel="stylesheet" type="text/css" href="/'.BASE_DIR.'/application/public/css/reset.css"/>';?>
	<?php echo '<link rel="stylesheet" type="text/css" href="/'.BASE_DIR.'/application/public/css/admin.css"/>';?>
	<?php echo '<script type="text/javascript" src="/'.BASE_DIR.'/application/public/js/jquery-1.7.2.min.js"></script>'?>
	<?php echo '<script type="text/javascript" src="/'.BASE_DIR.'/application/public/js/admin-nav.js"></script>';?>
</head>
<body id="admin-login">
		
		<div id="content-wrapper">
			<div id="content">
				<section class="post clearfix">
					<?php echo $this->getContent($input_file); ?>
				</section>
			</div>
		</div>
		
		<div id="footer-wrapper">
			<footer>
			</footer>
		</div>
	</div>
</body>
</html>